*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    color:  #1e293b;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0f172a;
    color: white;
    padding: 24px;
    text-align: center;
    
}
.titulo-principal{
    font-size: 28px;
    color: #38bdf8;

}
.subtitulo{
    font-size: 16px;
    margin: 0px;
}
main{
    max-width: 800px;
    margin: 20px auto;
}