body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0PX;
    padding: 0px;
    display: flex;
    min-height: 120vh;
    flex-direction: column;
}
header{
    background-color: rgb(18, 60, 197);
    color: white;
    display: flex;
    justify-content: center;
    
}
main{
    height: calc(100vh);
    background-color: whitesmoke;
}
h3{
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}
main{
    background-color: rgb(196, 194, 194);
}
main h3{
   color: white; 

}
main section {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background-color: #aaa6a6;
    border-radius: 12px;
    
}
main section h5 {
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 15px;
}
main section p {
    color: white;
    line-height: 1.5;
    margin-top: 5px;
}
footer{
    background-color: rgb(18, 60, 197);
    color: white;
    text-align: center;
    padding: 20px;
}